name "lib-a"
kind "library"
flags {
    feat-a default=#false {
        enables {
            lib-target { flag "flag-x" }
        }
    }
}
deps {
    lib-target git=(url)"https://example.com/lib-target.git" ref="main"
}
