schema_version 1
package "lib-a" {
    version "1.0.0" {
        content_hash "dag-sha256:db56482117bcddc6a055156f5bef8de53f101fb1a9a7e7f85887ed0f92e9a573"
        provenance {
            kind "git"
            url "https://example.com/lib-a.git"
            ref "v1.0.0"
            commit_sha "aaaa2222aaaa2222aaaa2222aaaa2222aaaa2222"
        }
    }
}
