schema_version 1
package "netlib" {
    version "1.0.0" {
        content_hash "dag-sha256:99a13dd69f969cf9296046a89c3d747e5b48c7807ff35f61aea6956c9e744cab"
        provenance {
            kind "git"
            url "https://github.com/example/netlib.git"
            ref "v1.0.0"
            commit_sha "dddd1111dddd1111dddd1111dddd1111dddd1111"
        }
    }
}
