name "pkg"
src_dir "src"
kind "library"
deps {
    foo git=(url)"https://example.com/foo.git" ref="main"
}
dev-deps {
    devtool git=(url)"https://example.com/devtool.git" ref="main"
}
overrides {
    pkg "bar" git=(url)"https://example.com/bar-override.git" ref="patched"
}
