schema_version 1
package "bar" {
    namespace "ns1"
    version "1.0.0" {
        content_hash "dag-sha256:ea37c8f31a3c95da76b5b3fe4e805e0039ddfcc453918a31bd68836fe23355be"
        provenance {
            kind "git"
            url "https://github.com/ns1/bar.git"
            ref "v1.0.0"
            commit_sha "beef0000beef0000beef0000beef0000beef0000"
        }
    }
}
