schema_version 1
package "bar" {
    namespace "ns1"
    version "1.0.0" {
        content_hash "dag-sha256:69de9e0caa711713027881b3e947be025ed76188b863620e815c7b9e86a80f8a"
        provenance {
            kind "git"
            url "https://github.com/ns1/bar.git"
            ref "v1.0.0"
            commit_sha "aaaa0000aaaa0000aaaa0000aaaa0000aaaa0000"
        }
    }
}
package "bar" {
    namespace "ns2"
    version "1.0.0" {
        content_hash "dag-sha256:0000000000000000000000000000000000000000000000000000000000000002"
        provenance {
            kind "git"
            url "https://github.com/ns2/bar.git"
            ref "v1.0.0"
            commit_sha "bbbb0000bbbb0000bbbb0000bbbb0000bbbb0000"
        }
    }
}
