schema_version 1
package "baz" {
    namespace "ns1"
    version "1.0.0" {
        content_hash "dag-sha256:b3ef94f6e0c78594f82f4002c4d3d92ff8342189eeb8776b8ed86c06edca50ac"
        provenance {
            kind "git"
            url "https://github.com/ns1/baz.git"
            ref "v1.0.0"
            commit_sha "cccc0000cccc0000cccc0000cccc0000cccc0000"
        }
    }
}
