schema_version 1
package "foo" {
    version "1.0.0" {
        content_hash "dag-sha256:3f177d66f545e38c566b265dae02c2de6696aa0a817f6fd162280e6fa4871531"
        provenance {
            kind "git"
            url "https://github.com/example/foo.git"
            ref "v1.0.0"
            commit_sha "aabbccddeeff00112233445566778899aabbccdd"
        }
    }
}
