schema_version 1
package "bar" {
    version "2.0.0" {
        content_hash "sha256:94103e1c378d5b8e034414bf69bfa128e780407aa36276f8b3dd395c1e9f4468"
        dep_decl "sha256:8345eab064426d0c257aa211b8ce4da9720a42eeef841154727c712c02c54d4e"
        dep_decl_schema_version 0
        provenance {
            kind "git"
            url "https://github.com/example/bar.git"
            ref "v2.0.0"
            commit_sha "cafef00dcafef00dcafef00dcafef00dcafef00d"
        }
    }
}
